{% extends "navbar.html" %}

{% block content %}
<div class="container">
    <div class="justify-content-center mt-5">
        
        <div class="card shadow-sm login-card col-lg-4 col-md-6 col-sm-6 mx-auto" >
            <div class="card-header">
                Forgot password?
            </div>
            <div class="card-body  ">
                
                {% if form.errors %}
                    <p>{{ form.non_field_errors }}</p>
                {% endif %}
                <form  method="POST" >
                    {% csrf_token %}
                    
                    <div class="form-outline mb-4">
                    <input type="email" id="email" name="email" class="form-control" autofocus/>
                    <label class="form-label" for="username">E-mail</label>
                    </div>
                    
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Send Instructions</button>
                    <input type="hidden" name="next" value="{{ next }}">
                    <div class="mx-auto"><a href="{% url 'login' %}">Login</a></div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}